html[dir="rtl"],
body.o_rtl,
body.o_web_client.o_rtl {
    direction: rtl;
}

html[dir="rtl"] .o_navbar,
html[dir="rtl"] .o_main_navbar,
html[dir="rtl"] .o_menu_sections,
body.o_rtl .o_navbar,
body.o_rtl .o_main_navbar,
body.o_rtl .o_menu_sections {
    direction: rtl;
}

.o_main_navbar .o_navbar_apps_menu .dropdown-toggle {
    background: transparent;
    border: 0;
}

body:has(.hb_home_menu) {
    .o_navbar,
    .o_main_navbar {
        background: transparent !important;
        border-bottom: 0 !important;
        box-shadow: none !important;
        position: relative;
        z-index: 1050;
    }

    .o_main_navbar .o_menu_brand,
    .o_main_navbar .o_menu_sections,
    .o_main_navbar .o_navbar_breadcrumbs,
    .o_main_navbar .o_menu_systray {
        visibility: hidden;
    }

    .o_navbar_apps_menu .dropdown-toggle {
        color: #fff !important;
    }

    .o_action_manager {
        visibility: hidden;
    }
}
